.btn-1{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: darkred;
    color:white;
    width: 100px;
    height: 70px;
}
.btn-1:hover{
    color:white;
    background-color: dodgerblue;
}
.container-1{
    margin-top: 80px;
    text-align: center;
}

.card-value{
    width: 400px;
    height: 500px;
    background-color: gainsboro;
}

.scrollable {
    width: 400px;
    height: 500px;
    overflow: scroll;
    align-items: center;
    overflow-x:hidden;
    border-style: solid;
    border-color: rgb(231, 231, 231);
}

.btn3:hover{
    color: red;
}

